code {
    font-size: 2.25rem !important;
}

.rise-enabled .reveal section img {
    height: 18rem !important;
    width: auto !important;
}

.jp-RenderedMarkdown div {
    font-size: 2.25rem !important;
}